<p>Login Below!</p>

<div *ngIf = "isLoginFailed" class="alert alert-danger">
  Wrong Login Credentials !, Please try again.
</div>
<div class="container">
  <form #frm = 'ngForm' >
    <label for="uname"><b>Email:</b></label>
    <input type="email" placeholder="Enter Username" [(ngModel)]="user.emailId" name="uname" required #email='ngModel' email>

    <div *ngIf = "email.invalid && (email.dirty || email.touched)">

      <div class="alert alert-danger" *ngIf = "email.errors?.['required'] ">
        Email id is Required.
      </div>
      <div class="alert alert-danger" *ngIf = "email.errors?.['email'] ">
        Email id is Invalid.
      </div>
      

  
    </div>
    

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" [(ngModel)]="user.password" #pwd='ngModel' name="psw" required minlength="5">

    
    <div *ngIf = "pwd.invalid && (pwd.dirty || pwd.touched)">
      <div class="alert alert-danger" *ngIf = "pwd.errors?.['required'] ">
        Password is Required.
      </div>
      <div class="alert alert-danger" *ngIf = "pwd.errors?.['minlength'] ">
        Password needs to have 5 chars.
      </div>
    </div>
    <div>
    
    <input type="button" (click)="login()" value ="login" class="btn btn-success">
  
    </div>
  </form> 
  </div>